
/** -- New Semantic UI Styles - 2.2 Custom Built Release -- **/
@import url('/de.kiezatlas.website/css/semantic-ui/2.2/components/ka-website-custom.min.css');

/** jQuery UI Autcomplete Overrides
.angebotsinfos.search .ui-state-focus {
.angebotsinfos.search .ui-menu-item a {
} **/

@-o-viewport {
    width: device-width;
    zoom: 1;
}

body, input[type="text"], input[type="button"], input[type="submit"],
textarea, select {
    padding: 0;
    margin: 0;
    height: 100%;
    font: 16px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    background-color: #EAEAEA;
    color: #343434;
}

.header-message {
    margin-top: 5em;
    padding: 1em 2em;
}

.header-message .username {
    font-weight: bold;
    color: #27638C;
}

.footer {
    position: relative;
    background-image: url("/de.kiezatlas.website/images/website_pattern_dg.jpg");
    background-color: rgb(52, 52, 52);
    color: rgb(169, 169, 169);
    min-height: 100px;
}

.footer h4 {
    font-weight: normal;
}

.footer .provider,
.footer .ba {
    padding: 2em;
}

.footer .provider {
    box-shadow: 0px -3px 25px 1px #a9a9a9;
    -moz-box-shadow: 0px -3px 25px 1px #a9a9a9;
    -webkit-box-shadow: 0px -3px 25px 1px #a9a9a9;
    padding-top: .5em;
    padding-bottom: 0em;
}

.footer .logos img {
    vertical-align: top;
    margin-right: 2em;
    margin-top: .5em;
    border: 1px solid #e9e9e9;
    text-align: left;
    /** max-height: 140px;
    width: auto; **/
}

.footer .ba {
    background-color: #fff;
    color: #343434;
}

.search .footer .ba {
    text-align: center;
}

#marker-name b,
h3 {
    color: #27638C;
}

.assignment .geo-objects-area .label,
.assignment label,
span.label,
h3.label {
    color: #a9a9a9;
}

.assignment .geo-objects-area label {
    color: #343434;
}

.search .results li.read-more a.create-link,
a {
    color: #27638C;
    text-decoration: underline;
    text-decoration-color: #8f1414;
}

.edit .task-info {
    margin-top: 5em;
    margin-left: 2em;
}

.start .task-info {
    margin-top: 1em;
    margin-left: 2em;
}

.start .einrichtungs-area,
.start .angebot-area {
    margin-left: 2em;
    margin-top: 0em;
    margin-botto: 2em;
}

.detail .detail-area {
    margin-top: 5em;
    margin-left: 2em;
}

.list-area,
.detail-area,
.search .task-info,
.assignments .task-info {
    margin: 0.7em;
}

.detail .assignments h3 {
    margin-bottom: 0em;
    margin-top: 2em;
}

.assignment .angebots-infos {
    color: #333;
}

.search .slogan {
    font-size: 2em;
    margin-top: 0.3em;
    font-weight: bold;
}

.search form .ui.input input#query {
    width: 260px;
}

.search form .ui.input input {
    width: 400px;
    /** margin-left: 1em; */
    padding-right: 1em !important;
}

.search button.ui.basic.primary {
    /** background-color: #fff !important;
    border: #343434; **/
    padding: 7px;
}

.search .nearby-dialog.ui.input {
    /** display: none; **/
    display: inline-block;
    margin-top: 1em;
}

.search .form-area form {
    display: inline-block;
    min-width: 340px;
    text-align: left;
}

.search .search-content,
.search .logoline,
.search .form-area,
.search .filter-area,
.search .list-area,
.search .search-results.container {
    max-width: 1200px !important;
    margin: auto;
}

.search .logoline {
    padding-left: 4em;
}

.search .form-area {
    border: 1px solid #efefef;
    border-bottom: 0px;
    padding-bottom: 1em;
    margin-top: 1em;
    text-align: center;
}

.search .search-content {
    padding-left: 2em;
}

.search .ui.input input {
    background-color: #efefef;
}

.search .list-area .loading-indicator,
.task-info .loading-indicator {
    font-size: 2.5em; color: #27638C;
    opacity: .9;
}

.task-info .loading-indicator {
    width: 50%; margin: auto;
    position: relative; top: 3em;
}

.search .list-area .loading-indicator {
    position: relative;
    top: 2em; left: 2em;
}

.task-info .loading-indicator i.icon,
.search .list-area .loading-indicator i.icon {
    opacity: .9;
    left: -2em;
    top: 0em;
}

.search .list-area .read-more p {
    margin-left: 0px;
}

.search .task-info {
    margin-top: 3em;
    margin-left: 2em;
}

.search .contact {
    padding: 5px;
    padding-left: 0px;
    display: inline-block;
    margin-right: 10px;
}

.search .list-area ul.results {
    padding-left: 0px;
    margin-top: 0px;
    min-height: 150px;
}

.search .list-area ul li.read-more a {
    text-decoration: none;
}

.list-area .header.read-more {
    display: block;
}

.list-area h4.status,
.list-area .header.read-more h4 {
    font-weight: normal;
    margin-top: .5em;
}

.list-area h4.status {
    margin-top: 2em;
    margin-left: 1em;
}

.list-area .read-more,
.detail .read-more,
.search .read-more {
    background-color: #e3e3e3;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
}

.search .read-more {
    margin-top: 0px;
}

.search  a.read-more {
    margin: 10px;
}

.list-area .results li.read-more {
    background-color: #EAEAEA;
    margin-right: 2em;
    width: 98%;
}

.list-area .results li .air-distance {
    padding-left: 1.2em;
    padding-top: 3px;
    color: #27638C;
    font-size: 0.9em;
}


.list-area .results .klick,
.list-area .results .username,
.list-area .results .kontakt {
    margin-right: 1em;
}

.list-area .results .klick {
    cursor: pointer;
    text-decoration: underline;
    color: #666;
}

.assignment .left-side {
    width: 45%;
    display: inline-block;
    margin-right: 5%;
    margin-left: 2em;
    margin-top: 6em;
}

.assignment .right-side {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-top: 6em;
    padding-left: 1em;
}

.right-side h3 {
    font-weight: normal;
}

.right-side .angebot-infos p {
    margin-top: 5px;
}

.right-side .angebot-infos p p {
    margin: 0px;
}

.right-side .offer-area {
    margin-top: 1em;
    background-color: #fff;
    padding: 0em 1em 0em 1em;
    border: 1px solid #aaa;
}

.mobile-logo {
    display: none;
}

.right-side h3.linked a {
    font-size: .9em;
    float: right;
    font-weight: normal;
    text-decoration: none;
}

/** Geo Objects in Angebots Listing */

.einrichtungen li,
.angebote li,
.concrete-assignment {
    background: #fff;
    padding: 1em;
    border: 1px solid #27638C;
    margin-top: 1em;
}

.concrete-assignment {
    cursor: pointer;
}

.geo-objects-area .einrichtungen

.geo-objects-area .einrichtungen {
    margin-top: 1em;
}

.geo-objects-area .concrete-assignment {
    margin-left: 0px;
}

.concrete-assignment h3,
.concrete-assignment p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.concrete-assignment:hover {
    box-shadow: 2px 2px 2px 0px #a9a9a9;
}
.concrete-assignment.selected {
    box-shadow: 3px 3px 2px 0px #a9a9a9;
}

.ui.input.icon .hidden,
.ui.button.hidden,
.hidden {
    display: none;
}

div.help {
    color: #333;
}

#user {
    margin: 1em;
    color: #8f1414; /** #0078A8; **/
}

div.ui-datepicker {
    zoom: 0.8;
}

.ui-widget-content .ui-state-hover,
.ui-widget-content .ui-state-focus {
    border: 1px solid #27638C;
    background: #27638C;
    color: #fff;
}

.ui-state-active {
    color: #8F1414;
}

.geo-objects-area {
    position: relative;
    overflow-y: auto;
}

.geo-objects-area .label {
    color: #777;
}

.form-area .geo-objects-area {
    max-height: 220px;
}

.angebot-area {
    position: relative;
}

.list-area,
.form-area {
    position: relative;
    color: #343434;
}

.form-area.angebot .mbottom {
    margin-bottom: 1em;
}

.form-area.angebot label {
    display: block;
}


/** Search Filter Parameter Option Style */

.search .results h4,
.search .filter-area h4 {
    margin-bottom: 0px;
    display: inline-block;
    margin-right: 1em;
    font-weight: normal;
}

/** ### Deprecated... **/
.filter-area h4 {
    margin-top: .5em;
    font-weight: normal;
}

.search .headline {
    padding: 4em 2em 0em 2em;
    color: #27638C;
}

.search .filter-area {
    padding-top: 1em;
}

.search .list-area p {
    margin-left: 1.3em;
}

.white-styled-area-bottom-line {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+100&1+0,0.91+100 */
    border-bottom: 1px solid #FC3;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(255,255,255,0.91) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,0.91) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,0.91) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8ffffff',GradientType=0 ); /* IE6-9 */
}


.white-styled-area {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+100&1+0,0.91+100 */
    border-top: 1px solid #FC3;
    border-bottom: 1px solid #FC3;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(255,255,255,0.91) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,0.91) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,0.91) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8ffffff',GradientType=0 ); /* IE6-9 */
}

.white-styled-area-surrounded {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+100&1+0,0.91+100 */
    border: 1px solid #FC3;
    border-top: 1px solid transparent;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(255,255,255,0.91) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,0.91) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,0.91) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8ffffff',GradientType=0 ); /* IE6-9 */
}

.search .ui.input input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(0, 0, 0, 0.5);
}
.search .ui.input input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgba(0, 0, 0, 0.5);
}
.search .ui.input input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgba(0, 0, 0, 0.5);
}
.search .ui.input input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgba(0, 0, 0, 0.5);
}

.filter-area .query-parameter {
    display: inline-block;
}

.filter-area .parameter {
    border: 1px solid #c1c1c1;
    padding: 0.5em;
    color: #8f1414;
    display: inline-block;
    height: 21px;
    margin-right: 1em;
    padding-left: 1em;
    margin-top: 0.5em;
}

.filter-area .parameter .name {
    display: inline-block;
}

.filter-area .parameter.location select {
    width: 90px;
}

.filter-area .parameter a.close {
    padding-right: 0.3em;
    padding-left: 0.5em;
    /** background-color: #FC3; **/
    color: #343434;
    /** margin: 0em 0.5em 0em 0.5em; */
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

.filter-area .parameter a.close.prev,
.filter-area .parameter a.close.next {
    background-color: #efefef;
    color: #a9a9a9;
}

.filter-area .parameter select {
    background-color: #fff;
    margin-right: .5em;
    margin-left: 1em;
    cursor: pointer;
    padding: 0px;
    color: #343434;
}

.filter-area .parameter a.close.next:hover,
.filter-area .parameter a.close.prev:hover {
    color: #27638C;
}


/** Assignemnt UI */

.assignment .form-area {
    padding: 5px;
}

.date-area {
    margin-top: 2em;
    margin-left: 5px;
}

.block-space {
    display: block;
    margin-top: 1em;
}

.block-space-bottom {
    display: block;
    margin-bottom: 1em;
}

span.einrichtung-name,
span.angebot-name {
    font-style: italic;
}

.assignment .task-info {
    margin-left: .5em;
}

body.angebotsinfos.start .header-message p,
body.angebotsinfos.start .task-info,
body.angebotsinfos.start .angebot-area,
body.angebotsinfos.start .einrichtungs-area,
body.angebotsinfos.detail .detail-area,
body.angebotsinfos.detail .task-info,
body.angebotsinfos.edit .task-info,
body.angebotsinfos.edit .form-area {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.angebotsinfos.detail .detail-area .edit-link {
    position: absolute;
    top: 0em; right: 2.5em;
}

.angebotsinfos.edit .task-info h3 {
    margin: 0em;
    margin-left: 1em;
}

.angebotsinfos #do-search,
.angebotsinfos #assignment-link {
    margin-left: 1em;
}

.angebotsinfos.detail .einrichtungen .read-more {
    margin-right: 2em;
}

.angebotsinfos.assignment .geo-objects-area .einrichtungen {
    margin-top: 1em;
}

.angebotsinfos.detail .geo-objects-area .einrichtungen {
    margin-top: 0;
}

.angebotsinfos.detail .read-more {
    margin: 0em;
    display: block;
}

.assignment .task-info h3,
.assignment .date-area h3 {
    font-weight: normal;
    margin-top: 0px;
}

.assignment .task-info .angebot-name,
.assignment .date-area .angebot-name,
.assignment .date-area .einrichtung-name {
    font-weight: bold;
}

.assignment .ticker label,
.assignment .ticker input {
    cursor: pointer;
    display: inline;
    margin-left: 1em;
    top: 1em;
}

.input#do-delete,
.angebot-area label,
.form-area label,
.geo-objects-area label,
.einrichtungs-area button,
.angebot-area button,
.einrichtungs-area input[type="submit"],
.angebot-area input[type="submit"],
.geo-objects-area input[type="radio"],
.date-area input[type="submit"],
.date-area input[type="button"],
.form-area input[type="submit"],
.form-area input[type="button"],
.form-area button {
    cursor: pointer;
}

.date-area input[type="text"],
.form-area #angebot-name,
.form-area #angebot-tags,
.form-area #angebot-kontakt,
.form-area #angebot-webpage {
    min-width: 240px;
    max-width: 420px;
    margin-top: 5px;
}

.form-area #angebot-webpage,
.form-area #angebot-name {
    min-width: 340px;
}

#name-search {
    width: 75%;
}

.kiezatlas.revise .commands button {
    margin: 0px;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
}

.date-area textarea,
.form-area textarea {
    min-width: 420px;
    min-height: 160px;
}

.assignment .date-area textarea {
    padding: .5em;
    border: 1px solid #85B7D9;
    border-radius: 5px;
    min-height: 35px;
}

.einrichtungs-area input,
.angebot-area input, 
.form-area textarea,
.form-area input,
.date-area input {
    padding: 5px;
    padding-left: 7px;
    font-size: 1em;
    margin: 0px 5px 1em 0px;
}

.form-area textarea {
    margin: 0px 5px 45px 0px;
    max-width: 460px;
}

.form-area.angebot .cke_textarea_inline {
    margin-top: 3em;
    background-color: #fff;
    padding: .5em; padding-top: 0px;
    border-radius: 5px;
    border: 1px solid #85B7D9;
}

div.disabled {
    opacity: 0;
    pointer-events: none;
}

.einrichtungs-area ul.einrichtungen,
.angebot-area ul.angebote {
    padding-left: 0px;
    list-style-type: none;
    margin-bottom: 2em;
    margin-right: 2em;
}

.einrichtungs-area li,
.angebot-area li {
    padding: 1em;
    margin: .5em 0em .5em 0em;
    background-color: #FAFAFA;
    font-size: 1.2em;
}

.einrichtungs-area li b,
.angebot-area li b {
    color: #27638C;
}

.einrichtungs-area li a,
.angebot-area li a {
    text-decoration: none;
}

einrichtungs-area li a:hover,
.angebot-area li a:hover {
    text-decoration: underline;
    text-decoration-color: #8f1414;
}

.angebot-area li .list-commands,
.einrichtungs-area li .list-commands {
    float: right;
    margin: .5em 0em;
}

.einrichtungs-area li .list-commands button,
.angebot-area li .list-commands button {
    cursor: pointer;
}

.right-side h3.linked a:hover {
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 40, 86, 0.43);
}

ul.einrichtungen li small,
ul.angebote li small {
    color: #999;
}

/** --- Upper Top Menu --- **/

#navigation {
    /** position: fixed; */
    margin-left: 2em;
    z-index: 2001;
    top: 0px;
}

#navigation ul {
    margin-top: 0px;
}

#navigation .logout {
    display: none;
    margin-left: 2em;
}

/** ---- Lower main menu ---- */

/** .menu {
    position: relative;
    width: 90%;
    margin: auto;
    padding: 1em;
    text-align: center;
} */

#navigation ul,
.menu ul {
    list-style-type: none;
    font-size: 1.2em;
    padding-left: 0px;
    margin: 0px;
}

#navigation ul li {
    display: inline-block;
    background-color: #fff;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    margin-left: 0px;
    margin-top: 0px;
}

.menu ul li {
    display: inline-block;
    background-color: #EAEAEA;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 1em;
}

#navigation ul li a,
.menu ul li a {
    text-decoration: none;
}

#navigation ul li:hover a,
.menu ul li:hover a {
    text-decoration: underline;
    text-decoration-color: #8f1414;
}

.search .tag-view h4 {
    margin-bottom: .5em;
}

.search .tag-view a {
    cursor: pointer;
}

.search .tag-view a.few {
    font-size: .8em;
}

.search .tag-view a.some {
    font-size: 1em;
}

.search .tag-view a.quitesome {
    font-size: 1.2em;
}

.search .tag-view a.more {
    font-size: 1.5em;
}

.search .tag-view a.many {
    font-size: 2em;
}

.search .tag-view a.manymore {
    font-size: 2.5em;
}

/** --- Distinct footer area --- */

#bottom {
    margin-top: 2em;
    font-size: 1.2em;
    text-align: center;
    padding: 1em;
    background-color: #fff;
}

#bottom h4 {
    font-weight: normal;
}

.search .tag-view {
    padding-bottom: 2em;
}

#bottom img.logo {
    max-width: 150px;
    height: auto;
}

@media (max-width: 1400px) {
    .search form .ui.input input {
        width: 390px;
    }
}

@media (max-width: 1250) {
    .search form .ui.input input {
        width: 380px;
    }
}

@media (max-width: 1200px) {
    body.angebotsinfos.start .header-message p,
    body.angebotsinfos.start .task-info,
    body.angebotsinfos.start .angebot-area,
    body.angebotsinfos.start .einrichtungs-area,
    body.angebotsinfos.detail .detail-area,
    body.angebotsinfos.detail .task-info,
    body.angebotsinfos.edit .task-info,
    body.angebotsinfos.edit .form-area {
        width: 90%;
    }
    #name-search {
        width: 50%;
    }
    .search .form-area {
        border: 0px;
        text-align: left;
    }
    .list-area .results li.read-more {
        width: 96%;
    }
    .search .logoline {
        padding-left: 0em;
    }
}

@media (max-width:780px) {
    .detail .detail-area {
        margin-top: 2em;
    }
}

@media (max-width:767px) {
    .top-menu .ui.menu .gesamt.item,
    .top-menu .ui.menu .all-angebote.item,
    .top-menu .ui.menu .angebote.item,
    .top-menu .ui.menu .create.item,
    .top-menu .ui.menu .logout.item,
    .top-menu .ui.menu .login.item {
        display: none !important;
    }
    .search .headline img {
        display: none;
    }
    #name-search {
        width: 30%;
    }
    .search .headline {
        text-align: left;
        padding-left: 1em;
    }
    .search .filter-area {
        padding-top: 0em;
    }
    .search .filter-area h4 {
        text-align: left;
        display: block;
        margin-top: 1em;
    }
    .search .filter-area .query-parameter {
        margin-top: .5em;
    }
    .search .tag-view a {
        margin-left: 5px;
    }
    .search .filter-area .parameter.location .coord-values,
    .search .filter-area .parameter.location .alt-count {
        display: none;
    }
    .search .form-area label {
        display: none;
    }
    .search #query {
        margin-left: 0em;
        width: 240px;
    }
    .top-menu .ui.menu a img {
        border: none;
    }
    .search .search-content {
        padding-left: 1em;
    }
    .search .list-area, .search .form-area {
        padding: 0em 0em 1em 0em;
        text-align: left;
    }
    .search #do-locating {
        margin-top: .5em;
        display: block;
    }
    .list-area .results li.read-more {
        margin-right: 1em;
    }
    .top-menu.ui.container {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .mobile-logo {
        display: inline-block;
        padding: 5px;
        padding-left: 1em;
        padding-right: 1em;
        border-left: 0px solid transparent;
        height: 32px;
    }
}

@media (max-width:600px) {
    .assignment .angebot-infos {
        display: none;
    }
    .search form .ui.input input#query {
        margin-left: 0em;
        width: 200px;
    }
    .search .nearby-dialog.ui.input #nearby {
        width: 315px;
        min-width: 90px;
    }
    .search .form-area form {
        margin-right: 0em;
    }
    .assignment .right-side,
    .assignment .left-side {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0em;
    }
    .assignment .right-side {
        margin-top: 0em;
    }
    .search .filter-area .parameter.location {
        display: flex;
    }
    .search .filter-area .location .name {
        width: 80%;
        height: 16px;
        overflow: hidden;
        padding-top: 2px;
    }
}

@media (max-width:500px) {
    .search .slogan {
        font-size: 1.7em;
    }
    .search form .ui.input input#query {
        margin-left: 0em;
        width: 160px;
    }
    .search .nearby-dialog.ui.input #nearby{
        width: 220px;
    }
}

@media (max-width: 420px) {
    .search .nearby-dialog.ui.input #nearby{
        width: 160px;
    }
}

/** CKEditor Overrides */

/* Make the content area look like an input field */
.cke_wysiwyg_frame {
    box-shadow: inset 0px 1px 2px #444;
}

.cke_editable {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #9f9f9f;
    border-radius: 4px;
    max-width: 640px;
    min-height: 140px;
    margin-top: 35px;
}
