
@-o-viewport {
    width: device-width;
    zoom: 1;
}

body, input[type="text"], input[type="button"], input[type="submit"],
textarea, select {
    padding: 0;
    margin: 0;
    height: 100%;
    font: 16px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    background-color: #EAEAEA;
}

#marker-name b,
h3 {
    color: #002856;
}

a {
    color: #002856;
    text-decoration: underline;
    text-decoration-color: #8f1414;
}

#task-info {
    margin: 15px;
}

.kiezatlas.angebot #task-info {
    margin-top: 30px;
}

#user {
    margin: 15px;
    color: #8f1414; /** #0078A8; **/
}

div.ui-datepicker {
    zoom: 0.8;
}

.ui-widget-content .ui-state-hover,
.ui-widget-content .ui-state-focus {
    border: 1px solid #002856;
    background: #002856;
    color: #fff;
}

.ui-state-active {
    color: #8F1414;
}

.geo-objects-area {
    position: relative;
    padding-left: 7px;
    max-height: 220px;
    overflow-y: auto;
}

.angebot-area {
    position: relative;
    padding: 10px;
}

.form-area, 
.date-area {
    position: relative;
    padding: 15px;
}

span.einrichtung-name,
span.angebot-name {
    font-style: italic;
}

.assignment #task-info h3,
.assignment .date-area h3 {
    font-weight: normal;
}

.assignment #task-info .angebot-name,
.assignment .date-area .angebot-name,
.assignment .date-area .einrichtung-name {
    font-weight: bold;
}

.angebot-area label,
.form-area label,
.geo-objects-area label,
.angebot-area input[type="submit"],
.geo-objects-area input[type="radio"],
.date-area input[type="submit"],
.form-area input[type="submit"],
.form-area input[type="button"],
.form-area button {
    cursor: pointer;
}

.date-area input[type="text"],
.form-area #angebot-name,
.form-area #angebot-tags,
.form-area #angebot-kontakt,
.form-area #angebot-webpage {
    width: 420px;
    margin-top: 5px;
}

.date-area textarea,
.form-area textarea {
    min-width: 420px;
    min-height: 160px;
}

.angebot-area input, 
.form-area textarea,
.form-area input,
.date-area input {
    padding: 5px;
    padding-left: 7px;
    font-size: 1em;
    margin: 0px 5px 15px 0px;
}

div.disabled {
    opacity: .3;
    pointer-events: none;
}

.angebot-area ul.angebote {
    padding-left: 0px;
    list-style-type: none;
    margin-bottom: 30px;
}

.angebot-area li {
    padding: 5px 7px 5px 8px;
    margin: 5px 0px 5px 0px;
    background-color: #FAFAFA;
    font-size: 1.2em;
}

.angebot-area li a {
    margin: 0px 0px 0px 10px;
    text-decoration: none;
    font-size: 0.9em;
}

.angebot-area li a:hover {
    text-decoration: underline;
    text-decoration-color: #8f1414;
}

/** ---- Lower main menu ---- */

.menu {
    position: relative;
    width: 90%;
    margin: auto;
    padding: 15px;
    text-align: center;
}

.menu ul {
    list-style-type: none;
    font-size: 1.2em;
    padding-left: 0px;
    margin: 0px;
}

.menu ul li {
    display: inline-block;
    background-color: #EAEAEA;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 15px;
}

.menu ul li a {
    text-decoration: none;
}

.menu ul li:hover a {
    text-decoration: underline;
    text-decoration-color: #8f1414;
}

/** --- Distinct footer area --- */

#bottom {
    position: relative;
    top: 30px;
    font-size: 1.2em;
    text-align: center;
    padding: 15px;
    background-color: #fff;
}

