
/** -- New Semantic UI Styles - 2.2 Release -- **/
@import url('/de.kiezatlas.website/css/semantic-ui/2.2/components/container.min.css');
@import url('/de.kiezatlas.website/css/semantic-ui/2.2/components/dropdown.min.css');
@import url('/de.kiezatlas.website/css/semantic-ui/2.2/components/header.min.css');
@import url('/de.kiezatlas.website/css/semantic-ui/2.2/components/menu.min.css');
@import url('/de.kiezatlas.website/css/semantic-ui/2.2/components/item.min.css');
@import url('/de.kiezatlas.website/css/semantic-ui/2.2/components/input.min.css');
@import url('/de.kiezatlas.website/css/semantic-ui/2.2/components/icon.min.css');
/** @import url('/de.kiezatlas.website/css/semantic-ui/2.2/components/sticky.min.css');
@import url('/de.kiezatlas.website/css/semantic-ui/2.2/components/list.min.css');
@import url('/de.kiezatlas.website/css/semantic-ui/2.2/components/button.min.css'); **/

/** jQuery UI Autcomplete Overrides */
.angebotsinfos.search .ui-state-focus {
    border: 1px solid #eaca8f;
    background: #FC3;
    color: #002856;
}

.angebotsinfos.search .ui-menu-item a {
    color: #002856;
}

@-o-viewport {
    width: device-width;
    zoom: 1;
}

body, input[type="text"], input[type="button"], input[type="submit"],
textarea, select {
    padding: 0;
    margin: 0;
    height: 100%;
    font: 16px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    background-color: #EAEAEA;
}

#marker-name b,
h3 {
    color: #002856;
}

span.label,
h3.label {
    color: #a9a9a9;
}

.search .results li.read-more a.create-link,
a {
    color: #002856;
    text-decoration: underline;
    text-decoration-color: #8f1414;
}

.edit .task-info {
    margin-top: 3em;
    margin-left: 2em;
}

.start .task-info {
    margin-top: 3em;
    margin-left: 2em;
}

.start .angebot-area {
    margin-left: 2em;
    margin-top: 0em;
}
.detail .detail-area {
    margin-left: 2em;
    margin-top: 3em;
}

.list-area,
.detail-area,
.search .task-info,
.assignments .task-info {
    margin: 0.7em;
}

.assignment .angebots-infos {
    color: #333;
}

.search .headline {
    margin-top: 2em;
}

.search .slogan {
    font-size: 2em;
    margin-top: 0.3em;
    font-weight: bold;
}

.search #query {
    width: 340px;
    /** margin-left: 1em; */
}

.search button.ui.basic.primary {
    /** background-color: #fff !important;
    border: #343434; **/
    padding: 7px;
}

.search .nearby-dialog.ui.input {
    /** display: none; **/
    display: inline-block;
    margin-top: 1em;
}

.search .nearby-dialog.ui.input input {
    min-width: 240px;
}

.search .form-area form {
    display: inline-block;
    min-width: 340px;
    text-align: left;
    margin-right: 2em;
}

.search .headline {
    text-align: center;
    color: #002856;
}

.search .form-area .label,
.search .form-area {
    text-align: center;
}

.search .filter-area,
.search .list-area,
.search .search-results.container {
    max-width: 1200px !important;
    margin: auto;
    text-align: left;
}

.search .list-area p {
    margin-left: 1.3em;
}

.search .list-area .read-more p {
    margin-left: 0px;
}

.search .task-info {
    margin-top: 3em;
    margin-left: 2em;
}

.search .contact {
    padding: 5px;
    padding-left: 0px;
    display: inline-block;
    margin-right: 10px;
}

.search .list-area ul.results {
    padding-left: 0px;
    margin-top: 0px;
}

.search .list-area ul li.read-more a {
    text-decoration: none;
}

.list-area .read-more,
.detail .read-more,
.search .read-more {
    background-color: #e3e3e3;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
}

.list-area .results li.read-more {
    background-color: #EAEAEA;
}

.search  a.read-more {
    margin: 10px;
}

.left-side {
    width: 45%;
    display: inline-block;
    margin-right: 5%;
    margin-left: 2em;
    margin-top: 2em;
}

.right-side {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-top: 2em;
}

.right-side .offer-area {
    background-color: #fff;
    padding: 1em;
    border: 1px solid #aaa;
}

.mobile-logo {
    display: none;
}

a.offer-edit {
    float: right;
}

.right-side h3.linked a {
    font-size: .9em;
    float: right;
    font-weight: normal;
    text-decoration: none;
}

/** Geo Objects in Angebots Listing */

.angebote li,
.concrete-assignment {
    background: #fff;
    padding: 1em;
    border: 1px solid #002856;
    margin-top: 1em;
}

.concrete-assignment {
    cursor: pointer;
}

.geo-objects-area .concrete-assignment {
    margin-left: 0px;
}

.concrete-assignment h3,
.concrete-assignment p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.concrete-assignment:hover {
    box-shadow: 2px 2px 2px 0px #a9a9a9;
}
.concrete-assignment.selected {
    box-shadow: 3px 3px 2px 0px #a9a9a9;
}

.hidden {
    display: none;
}

div.help {
    color: #333;
}

#user {
    margin: 1em;
    color: #8f1414; /** #0078A8; **/
}

div.ui-datepicker {
    zoom: 0.8;
}

.ui-widget-content .ui-state-hover,
.ui-widget-content .ui-state-focus {
    border: 1px solid #002856;
    background: #002856;
    color: #fff;
}

.ui-state-active {
    color: #8F1414;
}

.geo-objects-area {
    position: relative;
    overflow-y: auto;
}

.geo-objects-area .label {
    color: #777;
}

.form-area .geo-objects-area {
    max-height: 220px;
}

.angebot-area {
    position: relative;
}

.list-area,
.form-area {
    position: relative;
    padding: 1em 1em 0em 2em;
    color: #343434;
}

.search #location-search-form {
    margin-bottom: 1em;
}

.search .filter-area {
    padding-top: 1em;
}

.search h4,
.search .filter-area h4 {
    margin-bottom: 0px;
    color: #666;
    display: inline-block;
    margin-right: 1em;
}

.filter-area h4 {
    margin-top: .5em;
    font-weight: normal;
}

.search-results h4 {
    font-weight: normal;
}


/** Search Filter Parameter Option Style */

.filter-area .query-parameter {
    display: inline-block;
}

.filter-area .parameter {
    background-color: #fff;
    padding: 0.5em;
    color: #8f1414;
    display: inline-block;
    height: 23px;
}

.filter-area .parameter a.close {
    padding: 0.5em;
    background-color: #FC3;
    color: #002856;
    margin: 0em 0.5em 0em 0.5em;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

.filter-area .parameter a.close.prev,
.filter-area .parameter a.close.next {
    background-color: #efefef;
    color: #a9a9a9;
}

.filter-area .parameter select {
    background-color: #efefef;
    margin-right: 1em;
    margin-left: 1em;
    cursor: pointer;
    padding: 0px;
    color: #343434;
}

.filter-area .parameter select:hover,
.filter-area .parameter a.close.next:hover,
.filter-area .parameter a.close.prev:hover {
    color: #002856;
}


/** Assignemnt UI */

.assignment .form-area {
    padding: 5px;
}

.date-area {
    margin-top: 2em;
    margin-left: 5px;
}

span.einrichtung-name,
span.angebot-name {
    font-style: italic;
}

.assignment .task-info {
    /** margin-top: 60px; **/
    margin-left: 5px;
}

.angebotsinfos.edit .task-info h3 {
    margin: 0px;
    margin-left: 5px;
}

.assignment .task-info h3,
.assignment .date-area h3 {
    font-weight: normal;
    margin-top: 0px;
}

.assignment .task-info .angebot-name,
.assignment .date-area .angebot-name,
.assignment .date-area .einrichtung-name {
    font-weight: bold;
}

.input#do-delete,
.angebot-area label,
.form-area label,
.geo-objects-area label,
.angebot-area input[type="submit"],
.geo-objects-area input[type="radio"],
.date-area input[type="submit"],
.date-area input[type="button"],
.form-area input[type="submit"],
.form-area input[type="button"],
.form-area button {
    cursor: pointer;
}

.date-area input[type="text"],
.form-area #angebot-name,
.form-area #angebot-tags,
.form-area #angebot-kontakt,
.form-area #angebot-webpage {
    min-width: 240px;
    max-width: 420px;
    margin-top: 5px;
}

.form-area #angebot-webpage,
.form-area #angebot-name {
    min-width: 340px;
}

#name-search {
    width: 300px;
}

.kiezatlas.revise .commands button {
    margin: 0px;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
}

.date-area textarea,
.form-area textarea {
    min-width: 420px;
    min-height: 160px;
}

.angebot-area input, 
.form-area textarea,
.form-area input,
.date-area input {
    padding: 5px;
    padding-left: 7px;
    font-size: 1em;
    margin: 0px 5px 1em 0px;
}

.form-area textarea {
    margin: 0px 5px 45px 0px;
    max-width: 460px;
}

.form-area.angebot .cke_textarea_inline {
    margin-top: 3em;
}

div.disabled {
    opacity: .3;
    pointer-events: none;
}

.angebot-area ul.angebote {
    padding-left: 0px;
    list-style-type: none;
    margin-bottom: 2em;
    margin-right: 2em;
}

.angebot-area li {
    padding: 5px 7px 5px 8px;
    margin: 5px 0px 5px 0px;
    background-color: #FAFAFA;
    font-size: 1.2em;
}

.angebot-area li a {
    margin: 0px 0px 0px 10px;
    font-size: 0.9em;
    background-color: #efefef;
    padding: .4em;
    padding-left: .5em;
    padding-right: .5em;
    float: right;
    border: 1px solid transparent;
    text-decoration: underline;
    text-decoration-color: #8f1414;
}

.right-side h3.linked a:hover,
.angebot-area li a:hover {
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 40, 86, 0.43);
}

ul.angebote li small {
    color: #999;
}

/** --- Upper Top Menu --- **/

#navigation {
    /** position: fixed; */
    margin-left: 2em;
    z-index: 2001;
    top: 0px;
}

#navigation ul {
    margin-top: 0px;
}

#navigation .logout {
    display: none;
    margin-left: 2em;
}

/** ---- Lower main menu ---- */

/** .menu {
    position: relative;
    width: 90%;
    margin: auto;
    padding: 1em;
    text-align: center;
} */

#navigation ul,
.menu ul {
    list-style-type: none;
    font-size: 1.2em;
    padding-left: 0px;
    margin: 0px;
}

#navigation ul li {
    display: inline-block;
    background-color: #fff;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    margin-left: 0px;
    margin-top: 0px;
}

.menu ul li {
    display: inline-block;
    background-color: #EAEAEA;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 1em;
}

#navigation ul li a,
.menu ul li a {
    text-decoration: none;
}

#navigation ul li:hover a,
.menu ul li:hover a {
    text-decoration: underline;
    text-decoration-color: #8f1414;
}

/** --- Distinct footer area --- */

#bottom {
    position: relative;
    top: 2em;
    font-size: 1.2em;
    text-align: center;
    padding: 1em;
    background-color: #fff;
}

@media (max-width:767px) {
    .top-menu .ui.menu .gesamt.item,
    .top-menu .ui.menu .all-angebote.item,
    .top-menu .ui.menu .angebote.item,
    .top-menu .ui.menu .create.item,
    .top-menu .ui.menu .logout.item,
    .top-menu .ui.menu .login.item {
        display: none !important;
    }
    .search .headline img {
        display: none;
    }
    .search .headline {
        text-align: left;
        padding-left: 1em;
    }
    .search .filter-area h4 {
        text-align: left;
        display: block;
        margin-top: 1em;
    }
    .search .filter-area .query-parameter {
        margin-top: 1em;
    }
    /** .search .filter-area .parameter.location {
        line-height: 2.5em;
    } **/
    .search .filter-area .parameter.location .coord-values,
    .search .filter-area .parameter.location .alt-count {
        display: none;
    }
    .search .form-area label {
        display: none;
    }
    .search #query {
        margin-left: 0em;
        width: 240px;
    }
    .top-menu .ui.menu a img {
        border: none;
    }
    .search .list-area, .search .form-area {
        padding: 1em 1em 0em 1em;
        text-align: left;
    }
    .top-menu.ui.container {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .mobile-logo {
        display: inline-block;
        padding: 5px;
        padding-left: 1em;
        padding-right: 1em;
        border-left: 0px solid transparent;
    }
}

/** CKEditor Overrides */

/* Make the content area look like an input field */
.cke_wysiwyg_frame {
    box-shadow: inset 0px 1px 2px #444;
}

.cke_editable {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #9f9f9f;
    border-radius: 4px;
    max-width: 640px;
    min-height: 140px;
    margin-top: 35px;
}