<!DOCTYPE html>
<html>
    <head>
        <title>Meine Eintr&auml;ge - Kiezatlas 2</title>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="/de.kiezatlas.angebote/dist/vendor/jquery-ui-1.12.1-kiezatlas.min.css"/>
        <link rel="stylesheet" type="text/css" href="/de.kiezatlas.website/css/kiezatlas-web.css" />
        <link rel="stylesheet" type="text/css" href="/de.kiezatlas.angebote/css/sitestyle.css" />

        <script defer="true" src="/de.kiezatlas.angebote/dist/vendor/jquery-1.9.1-and-1.12.1-ui-custom.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/css/semantic-ui/2.3/dist/semantic.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/dist/vendor/dm4-webclient-utils.min.js"></script>
        <script defer="true" src="/de.kiezatlas.website/ka-restclient.js"></script>

        <script defer="true" src="/de.kiezatlas.angebote/dist/angebote-ui-complete.js"></script>
        <script defer="true" src="/de.kiezatlas.angebote/page_inits.js" onload="my_entries_page()"></script>
        <!--script src="/de.kiezatlas.angebote/dist/angebote-ui-complete.min.js"></script-->
        <script defer="true" src="/de.kiezatlas.website/ka-startseite.js" onload="init_page('my-entries')"></script>

        <meta th:replace="fragments/tracker" />
    </head>
    <body class="ui page detail kiezatlas angebotsinfos start">

        <nav id="lower-page-nav" th:include="fragments/navigation :: lower-page-nav"></nav>

        <div class="navigation">
            <div class="top-menu" th:include="fragments/navigation :: top-menu (publisher=${is_publisher})"></div>
        </div>

        <div th:replace="fragments/navigation :: vertical-nav (publisher=${is_publisher})"></div>

        <div class="ui pusher">

            <!-- Teaser Area -->
            <div th:replace="fragments/widgets :: teaser-small"></div>

            <!--div th:replace="fragments/search :: dialog (false, ${districts}, ${tags}, ${search}, ${searchType})"></div-->

            <!-- Name, Description Area -->
            <div class="ui vertical container segment entry">

                <p>Hi <span class="username"></span>!</p>
                <p>
                    Im Kiezatlas gibt es jetzt die M&ouml;glichkeit Informationen zu <b>Angeboten</b> und <b>Orten selbstst&auml;ndig einzutragen</b>.
                </p>
                <p>
                    Informationen &uuml;ber <b>Angebote</b> funktionieren dabei wie eine Art "Basisinformation" die nur einmal eingetragen werden m&uuml;ssen aber mehreren Veranstaltungsorten &uuml;ber verschiedene Zeitr&auml;ume zugewiesen werden k&ouml;nnen.
                    <!-- Termine sind bei uns erst einmal nur <em>Angebotszeitr&auml;ume</em> (von Tag bis Tag) -->
                </p>
                <p>
                    Ein Angebot wird erst &ouml;ffentlich such- und sichtbar wenn die Angebotsinfos mit einem Ort im Kiezatlas terminlich verbunden sind.
                    <span class="logged-out">sofern Sie <a href="/sign-up/login">eingelogged</a> sind nutzen Sie zur Ver&ouml;ffentlichung ihrer Angebotsinfo die Funktion &ldquo;Angebotszeitr&auml;me verwalten&rdquo;.</span>
                </p>
                <p>
                    Bei neuen <b>Orten</b> verh&auml;lt sich das etwas anders, diese m&uuml;ssen vor ihrer weiteren Nutzung einmalig freigeschaltet werden.
                    Diese Freischaltung &uuml;bernimmt eine/r <em>Kiez-AdministratorInnen</em> und du erh&auml;ltst automatisch eine Benachrichtigung (via Email) sobald dies geschehen ist.
                </p>

            </div>

            <div class="ui vertical segment commands blue4bg">
                <div class="task-info ui container"></div>
            </div>

            <div class="angebot-area ui segment container">
                <h3>Meine Angebotsinfos</h3>
                <form method="GET" action="/angebote/edit/0" id="angebot-form" accept-charset="UTF-8">
                    <div class="ui input block-space-bottom">
                        <button type="submit" class="ui darkblue thin button"><i class="big-char">+</i>Neues Angebot erstellen</button>
                    </div>
                </form>
                <ul class="angebote"></ul>
            </div>

            <div class="einrichtungs-area ui segment blue4bg">
                <div class="ui container">
                    <h3>Meine Orte</h3>
                    <form method="GET" action="/website/geo/create" id="angebot-form" accept-charset="UTF-8">
                        <div class="ui input block-space-bottom">
                            <button type="submit" class="ui darkblue thin button"><i class="big-char">+</i>Neuen Ort einrichten</button>
                        </div>
                    </form>
                    <ul class="einrichtungen"></ul>
                </div>
            </div>

            <div id="dialog-confirm" title="Eintrag löschen?">Willst du diesen Datensatz wirklich entfernen?</div>

            <!-- Footer Segment -->
            <div th:replace="fragments/footer :: footer-new "></div>

        </div>

    </body>
</html>

